<div id="signup__page">
    <div class="form">
        <form (ngSubmit)="onSubmit(showLoginForm)" class="register-form" #heroForm="ngForm">
            <div class="form-group">
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                    <div *ngIf="username.errors.required">
                        Username is required.
                    </div>
                    <div *ngIf="username.errors.minlength">
                        Username must be at least 6 characters long.
                    </div>
                </div>
                <input type="text" [(ngModel)]="currentForm.username" minlength="6" #username="ngModel" name="username"
                    required placeholder="Enter the username" />
            </div>
            <div class="form-group">
                <input type="password" [(ngModel)]="currentForm.password" minlength="6" #password="ngModel"
                    name="password" required placeholder="Enter the password" />
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters long.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="currentForm.emailaddress" #emailaddress="ngModel" name="emailaddress"
                    required placeholder="Enter email address" email />
                <div *ngIf="emailaddress.invalid && (emailaddress.dirty || emailaddress.touched)"
                    class="alert alert-danger">
                    <div *ngIf="emailaddress.errors.required">
                        emailaddress is required.
                    </div>
                    <div *ngIf="emailaddress.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Create</button>
            <p class="message">Already registered? <a href="" (click)="openLogin()">Sign Up</a></p>
        </form>
    </div>
</div>